<p>App component</p>



<fabiansegu-comp
[status]="myStatus" 
(onSendData)="printDataFabianseguComp($event)">
</fabiansegu-comp>


<app-test2 name="Fabian" lastName="Segurondo" (onSendData)="printData($event)"></app-test2>

<app-test3>
<p>Test 3 using Banana Box</p>
</app-test3>


<input type="text" [(ngModel)]="myStatus">



<button (click)="sw = !sw">SHOW TEST3</button>
<div *ngIf="sw">
  <app-test3 
  [name]="myStatus">
  </app-test3>
</div>



<p>----------------------</p>
  <span *ngFor="let item of ['first', 'second', 'thrid']; let i = index;">
    <fabiansegu-comp
    *ngIf="item !== 'first'"
    [status]="item" 
    (onSendData)="printDataFabianseguComp($event)">
    </fabiansegu-comp>
  </span>
  <p>-------------------------------</p>

<input type="text" [(ngModel)]="color">
<ul [ngSwitch]="color">
  <li *ngSwitchCase="'red'">
  <fabiansegu-comp
    [status]="color" 
    (onSendData)="printDataFabianseguComp($event)">
    </fabiansegu-comp>
  </li>
  <li *ngSwitchCase="'yellow'">
  <app-test3 
  [name]="color">
  </app-test3></li>
  <li *ngSwitchCase="'green'">green</li>
  <li *ngSwitchDefault>Default Orange</li>
</ul>


-->
<p>------------------------</p>

<li *ngFor="let fullName of people;">{{fullName.name}} {{fullName.lastName}}
</li>
<p>-----------------------</p>

